.dashboard-body {
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
}

.container-fluid {
	@include media-breakpoint-up(md) {
		width: 80%;
		margin-left: 10%;
	    margin-right: 10%;
	    position: relative;
	    display: table;
    }
}

.floor-bend {
	overflow: hidden;
	&:after {
		content: "";
	    display: block;
	    background-image: url("../images/round-edge.svg");
	    width: 110%;
	    margin-left: -5%;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center top;
	    position: absolute;
	    bottom: -1px;
	    height: 40px;
	}
}

.avatar {
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    max-width: 30px;
    max-height: 30px;
    border-radius: 1.5em;
}

.stripes {
	position: absolute;
    z-index: 0;
    width: 100%; 
    overflow: hidden;
    display: grid;
    transform: skewY(-12deg);
    top: 0;
    grid: repeat(5,200px)/repeat(10,1fr);
    transform-origin: 0;
    span {
	    opacity: 0.5;
	    &:nth-child(1) {
	    	grid-column: span 3;
			background: linear-gradient(100grad,rgba($black,.1),rgba($black,.15) 20%,rgba($black,0));
		}
		&:nth-child(2) {
			grid-area: 3/span 3/auto/-1;
			background: linear-gradient(100grad,rgba($black,0),rgba($black,.05) 40%,rgba($black,.35));
		}
		&:nth-child(3) {
			grid-row: 4;
			grid-column: span 5;
			background: linear-gradient(100grad,rgba($black,0.2) 50%,rgba($black,0.01));
		}
		&:nth-child(4) {
			grid-area: 4/span 5/auto/-1;
			background: linear-gradient(100grad,rgba($black,0),rgba($black,.05) 40%,rgba($black,.35));
		}
		&:nth-child(5) {
			grid-area: auto/1/-1/-1;
			background: linear-gradient(100grad,rgba($black,.1),rgba($black,.15) 20%,rgba($black,0));
		}
	}
}