<nav class="navbar navbar-expand-lg absolute-top navbar-dark bg-transparent py-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" alt="Admix Stock"><img src="~/images/logo.svg"> AdMix Stock</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="mainNav">
			<ul id="nav" class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" href="/features">Features</a></li>
				<li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
				<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
			</ul>
			<form class="form-inline">
			    <a href="/sign-up" class="btn btn-dark btn-sm ml-2">Sign Up</a>
			</form>
  		</div>
    </div>
</nav>
