<nav class="navbar navbar-expand-lg absolute-top navbar-dark bg-transparent py-4">
	<div class="container-fluid">
		<a class="navbar-brand" href="/" alt="Admix Stock"><img src="~/images/logo.svg"> AdMix Stock</a>
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			
			<ul class="navbar-nav mx-auto">
				<li class="nav-item dropdown">
					<a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dashboard <i class="fas fa-chevron-down"></i></a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/new-dashboard">New Dashboard</a>
						<a class="dropdown-item" href="/used-dashboard">Used Dashboard</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services <i class="fas fa-chevron-down"></i></a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/new-service">New Service</a>
						<a class="dropdown-item" href="/used-service">Used Service</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Connections <i class="fas fa-chevron-down"></i></a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/connection-new">New Connection</a>
						<a class="dropdown-item" href="/connection-used">Used Connection</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add New <i class="fas fa-chevron-down"></i></a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/add-service-new">Add New Services</a>
						<a class="dropdown-item" href="/add-service-used">Add Used Services</a>
						<a class="dropdown-item" href="/add-connection-new">Add New Connections</a>
						<a class="dropdown-item" href="/add-connection-used">Add Used Connections</a>
					</div>
				</li>
			</ul>
			
			<div class="form-inline">
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img class="avatar mr-2" src="~/images/avatar.jpg">Username <i class="fas fa-chevron-down"></i>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="javascript:void(0)"><i class="fas fa-user-circle fa-fw"></i> My Profile</a>
							<a class="dropdown-item" href="javascript:void(0)"><i class="fas fa-credit-card fa-fw"></i> Billing</a>
							<a class="dropdown-item" href="javascript:void(0)"><i class="fas fa-clipboard fa-fw"></i> Subscription</a>
							<a class="dropdown-item" href="javascript:void(0)"><i class="fas fa-list fa-fw"></i> Audit Log</a>
							<a class="dropdown-item" href="javascript:void(0)"><i class="fas fa-cog fa-fw"></i> Settings</a>
							<a class="dropdown-item" href="javascript:void(0)"><i class="fas fa-certificate fa-fw"></i> Whats New</a>
							<a class="dropdown-item" href="/login"><i class="fas fa-power-off fa-fw"></i> Sign Out</a>
						</div>
					</li>
				</ul>
			</div>
			
		</div>
	</div>
</nav>
