<div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
    <div class="logo">
        <a href="/">Admix Stock</a>
    </div>
    <div class="sidebar-wrapper">
        @await Html.PartialAsync("LoginPartialSidebar")
    </div>
</div>
