@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="row">
    <div class="col-md-4 mx-auto">
	    <div class="text-center mb-4">
	    	<h1>@ViewData["Title"]</h1>
	    </div>
        <div class="card mb-4">
	        <div class="card-body">
		        <h5 class="text-center">Fill out your email address, and we’ll send you instructions to reset your password.</h5>
		        <form asp-action="ForgotPassword" method="post">
		            <div asp-validation-summary="All" class="text-danger"></div>
		            <div class="form-group">
		                <input asp-for="Email" class="form-control" placeholder="Email..." />
		                <span asp-validation-for="Email" class="text-danger"></span>
		            </div>
		            <div class="form-group">
		            	<button type="submit" class="btn btn-primary btn-block">Submit</button>
		            </div>
		            <div class="text-center">
		                <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
	                </div>
		        </form>
	        </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("ValidationScriptsPartial")
}
