@{
    ViewData["Title"] = "Add used service";
}


		
<section class="section pb-4 sec-pri-gradient">
	<div class="container-fluid text-white">
		<div class="row">
			<div class="col">
				<h1>@ViewData["Title"]</h1>
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-9">
								<input type="text" class="form-control"  placeholder="Service API url...">
							</div>
							<div class="col-md-3">
								<a href="/used-service" class="btn btn-secondary btn-block">Connect</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>




@section Scripts {

}