@{
    ViewData["Title"] = "Add used connection";
}


<section class="section sec-pri-gradient pb-4">
	<div class="container-fluid text-white">
		<div class="row">
			<div class="col">
				<h1>@ViewData["Title"]</h1>
			</div>
		</div>
	</div>
</section>


<section class="section pt-5">
	<div class="container-fluid text-center">
		<h2 class="mb-5">1. Select Primary Services</h2>
		
		<div class="row justify-content-center">
			<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
				<a href="javascript:void(0)" class="card hover-card text-center mb-4">
					<i class="fas fa-check-circle status text-success" style="position: absolute; right: 10px; top:10px;"></i>
					<div class="card-body">
						<i class="fab fa-vine fa-5x mb-2"></i>
						<h5 class="text-truncate mb-0">Bidvest Toyota</h5>
					</div>
				</a>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
				<a href="javascript:void(0)" class="card hover-card text-center mb-4">
					<i class="fas fa-check-circle status text-success" style="position: absolute; right: 10px; top:10px;"></i>
					<div class="card-body">
						<i class="fab fa-stripe-s fa-5x mb-2"></i>
						<h5 class="text-truncate mb-0">Auto Mart</h5>
					</div>
				</a>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
				<a href="/add-service-used" class="card hover-card text-center mb-4">
					<div class="card-body">
						<i class="fas fa-plus-circle fa-5x mb-2"></i>
						<h5 class="text-truncate mb-0">Add New</h5>
					</div>
				</a>
			</div>
		</div>
		
	</div>
</section>

<section class="section pt-5">
	<div class="container-fluid text-center">
		<h2 class="mb-5">2. Select Bidvest McCarthy Toyota Categories</h2>
		
		<div class="row">
			<div class="col-md-6 mx-auto">
				<div class="card">
					<div class="card-body">
						<div class="row mb-4">
							<div class="col-md-6 text-left">
								<h5>Branches</h5>
								<div class="category-list">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="branchCheckAll">
										<label class="custom-control-label" for="branchCheckAll">All Branches</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="branchCheck1">
										<label class="custom-control-label" for="branchCheck1">George + Co.</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="branchCheck2">
										<label class="custom-control-label" for="branchCheck2">Sofas &amp; Stuff</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="branchCheck3">
										<label class="custom-control-label" for="branchCheck3">MugMcQueen</label>
									</div>
								</div>
							</div>
							<div class="col-md-6 text-left">
								<h5>Tags</h5>
								<div class="category-list">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="categoryCheckAll">
										<label class="custom-control-label" for="categoryCheckAll">All Tags</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="categoryCheck1">
										<label class="custom-control-label" for="categoryCheck1">Basket</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="categoryCheck2">
										<label class="custom-control-label" for="categoryCheck2">mug</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="categoryCheck3">
										<label class="custom-control-label" for="categoryCheck3">Tea</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="categoryCheck4">
										<label class="custom-control-label" for="categoryCheck4">Teapot</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="categoryCheck5">
										<label class="custom-control-label" for="categoryCheck5">Vase</label>
									</div>
								</div>
							</div>
						</div>
						<a href="javascript:void(0)" class="btn btn-secondary">Confirm Categories</a>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</section>

<section class="section pt-5">
	<div class="container-fluid text-center">
		<h2 class="mb-5">3. Where to import to</h2>
		
		<div class="row justify-content-center">
			<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
				<a href="javascript:void(0)" class="card hover-card text-center mb-4">
					<i class="fas fa-check-circle status text-success" style="position: absolute; right: 10px; top:10px;"></i>
					<div class="card-body">
						<i class="fab fa-stripe-s fa-5x mb-2"></i>
						<h5 class="text-truncate mb-0">Auto Mart</h5>
					</div>
				</a>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
				<a href="/add-service-new" class="card hover-card text-center mb-4">
					<div class="card-body">
						<i class="fas fa-plus-circle fa-5x mb-2"></i>
						<h5 class="text-truncate mb-0">Add New</h5>
					</div>
				</a>
			</div>
		</div>
		
	</div>
</section>

<section class="section pt-5">
	<div class="container-fluid text-center">
		<h2 class="mb-5">4. Type of Integration</h2>
		
		<div class="row justify-content-center">
			<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
				<a href="javascript:void(0)" class="card hover-card text-center mb-4"  data-toggle="tooltip" data-placement="top" title="Always keep Vend changes">
					<div class="card-body">
						<i class="fas fa-list-alt fa-5x mb-2"></i>
						<h6 class="text-truncate mb-0">Always Keep</h6>
					</div>
				</a>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
				<a href="javascript:void(0)" class="card hover-card text-center mb-4" data-toggle="tooltip" data-placement="top" title="Use latest from eather">
					<div class="card-body">
						<i class="fas fa-clock fa-5x mb-2"></i>
						<h6 class="text-truncate mb-0">Use latest</h6>
					</div>
				</a>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
				<a href="javascript:void(0)" class="card hover-card text-center mb-4" data-toggle="tooltip" data-placement="top" title="Always import from Vend">
					<div class="card-body">
						<i class="fas fa-copy fa-5x mb-2"></i>
						<h6 class="text-truncate mb-0">Always Import</h6>
					</div>
				</a>
			</div>
		</div>
		
	</div>
</section>

<section class="section pt-5">
	<div class="container-fluid text-center">
		<h2 class="mb-5">5. Review Setup and Confirm</h2>
		
		<div class="mixer mb-4">
			<div class="ingedient selected pt-2">
				<i class="fab fa-vine fa-5x mb-2"></i>
				<h5 class="text-truncate mb-0">Bidvest McCarthy</h5>
			</div>
			<div class="blade blade-left blade-right selected" data-toggle="tooltip" data-placement="top" title="Use latest change">
				<i class="fas fa-clock fa-2x"></i>
			</div>
			<div class="ingedient selected pt-2">
				<i class="fab fa-stripe-s fa-5x mb-2"></i>
				<h5 class="text-truncate mb-0">Auto Mart</h5>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6 mx-auto text-center">
				<h3>Name your creation</h3>
				<input type="text" class="form-control form-control-lg my-4" id="" placeholder="ex. ToyotaAutoMart...">
				<a href="/connection-used" class="btn btn-secondary">Complete Connection</a>
			</div>
		</div>
		
	</div>
</section>