@{
    ViewData["Title"] = "Add New Service";
}

<section class="section pri-sec-gradient">
	<div class="container-fluid text-white">
		<div class="row">
			<div class="col">
				<h1>@ViewData["Title"]</h1>
			</div>
		</div>
	</div>
</section>

<section class="section pt-5">
	<div class="container-fluid text-center">
		<h2 class="mb-5">1. Select Service</h2>
		
		<div class="select-service row">
			<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
				<a href="" class="card hover-card text-center mb-4">
					<div class="card-body">
						<i class="fab fa-adn fa-5x mb-2"></i>
						<h5 class="text-truncate mb-0">ADN</h5>
					</div>
				</a>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
				<a href="" class="card hover-card text-center mb-4">
					<div class="card-body">
						<i class="fab fa-vine fa-5x mb-2"></i>
						<h5 class="text-truncate mb-0">Vend</h5>
					</div>
				</a>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
				<a href="" class="card hover-card text-center mb-4">
					<div class="card-body">
						<i class="fab fa-etsy fa-5x mb-2"></i>
						<h5 class="text-truncate mb-0">Etsy</h5>
					</div>
				</a>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
				<a href="" class="card hover-card text-center mb-4">
					<div class="card-body">
						<i class="fab fa-first-order fa-5x mb-2"></i>
						<h5 class="text-truncate mb-0">First Order</h5>
					</div>
				</a>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
				<a href="" class="card hover-card text-center mb-4">
					<div class="card-body">
						<i class="fab fa-grav fa-5x mb-2"></i>
						<h5 class="text-truncate mb-0">Gravity</h5>
					</div>
				</a>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
				<a href="" class="card hover-card text-center mb-4">
					<div class="card-body">
						<i class="fab fa-korvue fa-5x mb-2"></i>
						<h5 class="text-truncate mb-0">KiloShop</h5>
					</div>
				</a>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
				<a href="" class="card hover-card text-center mb-4">
					<div class="card-body">
						<i class="fab fa-optin-monster fa-5x mb-2"></i>
						<h5 class="text-truncate mb-0">Monster Sales</h5>
					</div>
				</a>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
				<a href="" class="card hover-card text-center mb-4">
					<div class="card-body">
						<i class="fab fa-product-hunt fa-5x mb-2"></i>
						<h5 class="text-truncate mb-0">Product Hunt</h5>
					</div>
				</a>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
				<a href="" class="card hover-card text-center mb-4">
					<div class="card-body">
						<i class="fab fa-stripe-s fa-5x mb-2"></i>
						<h5 class="text-truncate mb-0">Superbalist</h5>
					</div>
				</a>
			</div>
		</div>
		
	</div>
</section>

<section class="section pt-5">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5 mx-auto text-center">
				
				<h2 class="mb-5">2. Sign in to your store</h2>
				
				<div class="card">
					<div class="card-body">
						<div class="input-group mb-4">
							<input type="text" class="form-control form-control-lg" placeholder="Username...">
							<div class="input-group-append">
								<span class="input-group-text">.vendhq.com</span>
							</div>
						</div>
						<div class="form-group">
	                    	<input class="form-control form-control-lg" placeholder="Password..." type="password"  name="Password" value="">
	                	</div>
		                <div>
			                <a href="/new-service" class="btn btn-primary btn-lg btn-block">Connect</a>
		                </div>
		                
					</div>
				</div>
		
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5 mx-auto text-center">
				
				<h2 class="mb-5">3. Importing</h2>
				
				<div class="card">
					<div class="card-body">
						
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5 mx-auto text-center">
				
				<h2 class="mb-5">4. Error Handling</h2>
				
				<div class="card">
					<div class="card-body">
						
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>