@{
    ViewData["Title"] = "ToyotaAutoMart";
}

<section class="section pri-sec-gradient">
	<div class="container-fluid text-white">
		<div class="row">
			<div class="col">
				<h1>@ViewData["Title"]</h1>
			</div>
		</div>
	</div>
</section>