@{
    ViewData["Title"] = "Features";
    Layout = "LayoutMarketing";
}

<header class="pri-sec-gradient floor-bend" style="height: 80vh; overflow: hidden">
	<div class="stripes">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
    </div>
	<div class="wrap">
		<div class="content center-left text-white">
			<div class="row">
				<div class="col-md-6 text-left">
					<h1>Real product data control.</h1>
					<p class="">Poke beard everyday carry, dreamcatcher activated charcoal humblebrag iPhone. Everyday carry messenger bag snackwave, cardigan fingerstache direct trade hella actually wayfarers.</p>
					<a href="" class="btn btn-outline-light">See how it works</a>
				</div>
			</div>
		</div>
	</div>
</header>

<section class="section floor-bend" style="min-height: 400px;">
	<div class="container">
		<div class="row">
            <div class="col-md-8 mx-auto text-center">
                <h2 class="display-4 mb-4">Our Solutions</h2>
                <p class="lead">Bushwick fashion axe butcher 8-bit tbh, schlitz art party hella roof party snackwave af seitan.</p>
            </div>
        </div>
		<div class="row mt-5">
			<div class="col-md-5">
				<div class="media my-4">
				  	<div class="d-flex mr-3">
					  	<div class="icon icon-circle icon-shadow">
							<i class="fas fa-shopping-basket fa-2x text-primary"></i>
					  	</div>
					</div>
				  	<div class="media-body">
				    	<h4 class="mt-0">Ecommerce Merchants</h4>
						<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
				  	</div>
				</div>
				
				<div class="media my-4">
				  	<div class="d-flex mr-3">
					  	<div class="icon icon-circle icon-shadow">
							<i class="fas fa-users fa-2x text-secondary"></i>
					  	</div>
					</div>
				  	<div class="media-body">
				    	<h4 class="mt-0">Marketing Agencies</h4>
						<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
				  	</div>
				</div>
				
				<div class="media my-4">
				  	<div class="d-flex mr-3">
					  	<div class="icon icon-circle icon-shadow">
							<i class="fas fa-heartbeat fa-2x text-primary"></i>
					  	</div>
					</div>
				  	<div class="media-body">
				    	<h4 class="mt-0">Stock Health Check</h4>
						<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
				  	</div>
				</div>
				
			</div>
			<div class="col-md-7 text-center">
				<div class="video-container mb-3">
					<div class="video">
						<video width="100%" autoplay loop>
							<source src="~/videos/563399566.mp4" type="video/mp4">
							<source src="~/videos/563399566.ogv" type="video/ogv">
						</video>
						<div class="play d-none"></div>
					</div>
				</div>
				<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</p>
			</div>
		</div>
	</div>
</section>

<section class="section bg-white" style="min-height: 400px">
	<div class="container">
		
	</div>
</section>