@{
    ViewData["Title"] = "Features";
    Layout = "LayoutMarketing";
}

<header class="pri-sec-gradient floor-bend" style="height: 80vh; overflow: hidden">
	<div class="stripes">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
    </div>
	<div class="wrap">
		<div class="content center-left text-white">
			<div class="row">
				<div class="col-md-6 text-left">
					<h1>Features of AdMix Stock</h1>
					<p class="">Poke beard everyday carry, dreamcatcher activated charcoal humblebrag iPhone. Everyday carry messenger bag snackwave, cardigan fingerstache direct trade hella actually wayfarers.</p>
					<a href="" class="btn btn-outline-light">See how it works</a>
				</div>
			</div>
		</div>
	</div>
</header>

<section class="section">
	<div class="container">
		<div class="row">
            <div class="col-md-8 mx-auto text-center">
                <h2 class="display-4 mb-4">AdMix Stock</h2>
                <p class="lead text-muted">Kickstarter paleo waistcoat authentic skateboard typewriter everyday carry williamsburg gentrify seitan normcore church-key.</p>
            </div>
        </div>
		<div class="row mt-5">
			<div class="col-md-4">
				<div class="feature fb-hover fb-primary text-center">
					<i class="fas fa-medkit fa-4x text-primary"></i>
					<h4 class="my-4">Stock Health</h4>
					<p>Distillery pug taiyaki 90's messenger bag roof party flannel vegan waistcoat organic health goth tote bag live-edge. Put a bird on it tofu slow-carb vinyl.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="feature fb-hover fb-primary text-center">
					<i class="fas fa-random fa-4x text-primary"></i>
					<h4 class="my-4">Dataflow</h4>
					<p>Distillery pug taiyaki 90's messenger bag roof party flannel vegan waistcoat organic health goth tote bag live-edge. Put a bird on it tofu slow-carb vinyl.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="feature fb-hover fb-primary text-center">
					<i class="fas fa-chart-line fa-4x text-primary"></i>
					<h4 class="my-4">Reporting</h4>
					<p>Distillery pug taiyaki 90's messenger bag roof party flannel vegan waistcoat organic health goth tote bag live-edge. Put a bird on it tofu slow-carb vinyl.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section pri-sec-gradient floor-bend" style="height: 400px; overflow: hidden">
	<div class="container">
		
	</div>
</section>

<section class="section" style="height: 400px">
	<div class="container">
		
	</div>
</section>