@{
    ViewData["Title"] = "Start Here";
    Layout = "LayoutMarketing";
}

<header class="pri-sec-gradient floor-bend" style="height: 80vh">
	<div class="wrap">
		<div class="content center-left text-white">
			<h1>This is AdMix Stock<br>What else do you need?</h1>
		</div>
	</div>
</header>

<section class="section" style="height: 800px">
	<div class="container">
		
	</div>
</section>