@{
    ViewData["Title"] = "Login";
    Layout = "LayoutMarketing";
}

<header class="pri-sec-gradient" style="height: auto; min-height: 100vh">
	<div class="wrap">
		<div class="content center-center">
			<h1 class="mb-5 text-white">@ViewData["Title"]</h1>
			<div class="row">
				<div class="col-md-4 mx-auto">
					<div class="card text-center">
						<div class="card-body">
							<div class="form-group">
		                    	<input class="form-control" placeholder="Email..." type="text" name="Email" value="">
		                	</div>
		                	<div class="form-group">
		                    	<input class="form-control" placeholder="Password..." type="text"  name="Password" value="">
		                	</div>
		                	<div class="form-group text-left">
			                    <div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="customCheck1" name="RememberMe">
									<label class="custom-control-label" for="customCheck1">Remember me?</label>
								</div>
			                </div>
			                <div class="row">
				                <div class="col">
									<a href="/new-dashboard" class="btn btn-primary btn-block">Log In New</a>
				                </div>
				                <div class="col">
									<a href="/used-dashboard" class="btn btn-secondary btn-block">Log In Used</a>
				                </div>
			                </div>
						</div>
					</div>
					<div class="text-center mt-3">
		                <a href="javascript:void(0)" class="text-white">Forgot your password?</a>
	                </div>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-md text-center">
					<p class="text-white">Custom options are available for advanced implementations.<br>Give us a call <a href="" class="text-white">(086 1234 287)</a> or drop us an <a href="" class="text-white">Email</a></p>
				</div>
			</div>
		</div>
	</div>
</header>