@{
    ViewData["Title"] = "Pricing Guide";
    Layout = "LayoutMarketing";
}

<header class="pri-sec-gradient floor-bend" style="height: 80vh">
	<div class="stripes">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
    </div>
	<div class="wrap">
		<div class="content center-left text-white">
			<div class="row">
				<div class="col-md-6 text-left">
					<h1>This is AdMix Stock<br>What else do you need?</h1>
					<p class="">Poke beard everyday carry, dreamcatcher activated charcoal humblebrag iPhone. Everyday carry messenger bag snackwave, cardigan fingerstache direct trade hella actually wayfarers.</p>
					<a href="" class="btn btn-outline-light">See how it works</a>
				</div>
			</div>
		</div>
	</div>
</header>

<section class="section" style="height: 400px">
	<div class="container">
		
	</div>
</section>

<section class="section bg-white" style="height: 400px">
	<div class="container">
		
	</div>
</section>

<section class="section pri-sec-gradient floor-bend" style="height: 400px">
	<div class="container">
		
	</div>
</section>

<section class="section" style="height: 400px">
	<div class="container">
		
	</div>
</section>

<section class="section bg-dark" style="height: 400px">
	<div class="container">
		
	</div>
</section>