@{
    ViewData["Title"] = "Start Here";
    Layout = "LayoutMarketing";
}

<header class="pri-sec-gradient" style="height: 300px">
	<div class="wrap">
		<div class="content center-left text-white">
			<h1>Pricing</h1>
		</div>
	</div>
</header>

<section class="section">
	<div class="container">
		
		<div class="card">
			<div class="card-body">
				<h2>Pricing</h2>
			</div>
            <table class="table mb-0 pricing-compare">
                <thead class="thead-light">
	                <tr>
                    	<th>&nbsp;</th>
						<th>
			                <h4>Free</h4>
		                </th>
		                <th>
		                	<h4>Basic</h4>
		                </th>
		                <th>
		                	<h4>Plus</h4>
		                </th>
		                <th>
		                	<h4>Express</h4>
		                </th>
	                </tr>
                </thead>
                <tbody>
	                <tr>
	                    <td>Item goes here:</td>
	                    <td><i class="far fa-times-circle fa-lg text-danger"></i></td>
	                    <td><i class="far fa-times-circle fa-lg text-danger"></i></td>
	                    <td><i class="far fa-times-circle fa-lg"></i></td>
	                    <td><i class="far fa-check-circle fa-lg text-success"></i></td>
	                </tr>
	                <tr>
	                    <td>Item goes here:</td>
	                    <td><i class="far fa-times-circle fa-lg text-danger"></i></td>
	                    <td><i class="far fa-times-circle fa-lg text-danger"></i></td>
	                    <td><i class="far fa-times-circle fa-lg"></i></td>
	                    <td><i class="far fa-check-circle fa-lg text-success"></i></td>
	                </tr>
	                <tr>
	                    <td>Item goes here:</td>
	                    <td><i class="far fa-times-circle fa-lg text-danger"></i></td>
	                    <td><i class="far fa-times-circle fa-lg text-danger"></i></td>
	                    <td><i class="far fa-check-circle fa-lg"></i></td>
	                    <td><i class="far fa-check-circle fa-lg text-success"></i></td>
	                </tr>
	                <tr>
	                    <td>Item goes here:</td>
	                    <td><i class="far fa-times-circle fa-lg text-danger"></i></td>
	                    <td><i class="far fa-check-circle fa-lg text-success"></i></td>
	                    <td><i class="far fa-check-circle fa-lg"></i></td>
	                    <td><i class="far fa-check-circle fa-lg text-success"></i></td>
	                </tr>
	                <tr>
	                    <td>Item goes here:</td>
	                    <td>20</td>
	                    <td>30</td>
	                    <td>50</td>
	                    <td>80</td>
	                </tr>
	                <tr>
	                    <td>Item goes here:</td>
	                    <td>1</td>
	                    <td>5</td>
	                    <td>10</td>
	                    <td>20</td>
	                </tr>
                </tbody>
                <tfoot>
	                <tr>
	                    <td>&nbsp;</td>
	                    <td>
	                        <a href="" class="btn btn-light btn-block">Downgrade</a>
	                    </td>
	                    <td>
	                        <a href="" class="btn btn-light btn-block">Downgrade</a>
	                    </td>
	                    <td align="center">
	                        <h5 class="mb-0">Current Plan</h5>
	                        <div class="badge badge-light">renews Feb 19, 2019</div>
	                    </td>
	                    <td>
	                        <a href="" class="btn btn-primary btn-block">Upgrade</a>
	                    </td>
	                </tr>
	            </tfoot>
	        </table>
		</div>
		
	</div>
</section>