@{
    ViewData["Title"] = "Start Here";
    Layout = "LayoutMarketing";
}

<header class="pri-sec-gradient">
	<div class="wrap">
		<div class="content center-center text-white">
			<h1 class="mb-5">Signup options</h1>
			<div class="row">
				<div class="col-md-4 ml-auto">
					<a href="/new-stock-signup" class="card hover-card text-center">
						<div class="card-body">
							<i class="fas fa-circle fa-5x mb-2"></i>
							<h3>New Stock</h3>
							<p class="lead">Sync new items across several platforms.</p>
							<div class="btn btn-primary">Sign Up</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 mr-auto">
					<a href="/used-stock-signup" class="card hover-card text-center">
						<div class="card-body">
							<i class="far fa-circle fa-5x mb-2"></i>
							<h3>Used Stock</h3>
							<p class="lead">Sync existing APIs across several platforms.</p>
							<div class="btn btn-primary">Sign Up</div>
						</div>
					</a>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-md text-center">
					<p class="text-white">Custom options are available for advanced implementations.<br>Give us a call <a href="" class="text-white">(086 1234 287)</a> or drop us an <a href="" class="text-white">Email</a></p>
				</div>
			</div>
		</div>
	</div>
</header>