@{
    ViewData["Title"] = "Signup options";
    Layout = "LayoutMarketing";
}

<header class="pri-sec-gradient" style="height: auto; min-height: 100vh">
	<div class="wrap">
		<div class="content center-center text-white">
			<h1 class="mb-5">@ViewData["Title"]</h1>
			<div class="row">
				<div class="col-md-4 ml-auto">
					<a href="/sign-up-new-stock" class="card hover-card text-center">
						<div class="card-body">
							<div><img src="~/images/new-stock.svg" width="200px"></div>
							<h3>New Stock</h3>
							<p class="lead">Sync new items across several platforms.</p>
							<ul class="fa-ul text-left">
								<li><span class="fa-li"><i class="fas fa-check-circle text-primary"></i></span>List icons can</li>
								<li><span class="fa-li"><i class="fas fa-check-circle text-primary"></i></span>be used to</li>
								<li><span class="fa-li"><i class="fas fa-check-circle text-primary"></i></span>replace bullets</li>
								<li><span class="fa-li"><i class="fas fa-check-circle text-primary"></i></span>in lists</li>
							</ul>
							<div class="btn btn-primary">Sign Up</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 mr-auto">
					<a href="/sign-up-used-stock" class="card hover-card text-center">
						<div class="card-body">
							<div><img src="~/images/used-stock.svg" width="200px"></div>
							<h3>Used Stock</h3>
							<p class="lead">Sync existing APIs across other platforms.</p>
							<ul class="fa-ul text-left">
								<li><span class="fa-li"><i class="fas fa-check-circle text-secondary"></i></span>List icons can</li>
								<li><span class="fa-li"><i class="fas fa-check-circle text-secondary"></i></span>be used to</li>
								<li><span class="fa-li"><i class="fas fa-check-circle text-secondary"></i></span>replace bullets</li>
								<li><span class="fa-li"><i class="fas fa-check-circle text-secondary"></i></span>in lists</li>
							</ul>
							<div class="btn btn-secondary">Sign Up</div>
						</div>
					</a>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-md text-center">
					<p class="text-white">Custom options are available for advanced implementations.<br>Give us a call <a href="" class="text-white">(086 1234 287)</a> or drop us an <a href="" class="text-white">Email</a></p>
				</div>
			</div>
		</div>
	</div>
</header>